/*
	common
*/

html, body {
	height:100%;
}

body { 
	font-family: sans-serif;
	background-color: #c7c7c7;
	
	padding:0px;
	margin:0px;
}

a { 
	color:#555;
	text-decoration: none;
}

a:hover { 
	color:#000;
	text-decoration: underline;
}

div#wrapper{
	height:100%;
	width:100%;
	display: table;
	position: relative;
}

/*
	header
*/
div#header {
	height: 3em;
	background-color: #aeaeae;
	vertical-align: middle;
	box-shadow:0 0 5px #000;
	display: table-row;
}

div#header #menu {
	display: inline-block;
}

div#header #logo {
	vertical-align: middle;
	border:none;
	padding-top: 5px;
}

div#header #menu ul {
	list-style: none;
	vertical-align: bottom;
}

div#header #menu ul li {
	display:inline-block;
	padding-left: 25px;
	padding-right: 25px;
	text-shadow: 2px 2px 2px #888; 
}

div#header #menu a { 
	color: #fff;
	font-size: 1.5em;
	text-decoration: none;
}

div#header #menu a:hover { 
	color:#eef;
	text-decoration: underline;
}

div#header #menu a.menu_selected { 
	color: #fff;
	text-decoration: underline;
}

/*
	content related
*/

div#content {
	height:100%;
	display: table-row;
}

div#content #map {
	height:100%;
	width:100%;
	position:relative;
}

div#content p {
	margin-left:10px;
}

div#content form {
	margin-left:10px;
}

.smallbold { 
	font-weight: bold;
	font-size: 10px; 
}

div.abouttext, div.tabledownload, div.contactform, div.listeggs, div.listvalues {
	width:60%;
	margin-right: auto;
	margin-left: auto;
}

div.listvalues table{
	border-collapse:collapse;
}
div.listvalues td, div.listvalues th{
	border:1px solid #000;
}
div.listvalues th{
	border:2px solid #000;
}
div.listvalues h3{
	margin-top:0px
}

div.listeggs p {
	text-align: justify;
}

img.legendicon {
	width: 16px;
	height: 16px;
}

div.contactform form label {
	float: left;
	width: 150px;
	clear:both;
}

div.contactform form input {
	width: 250px;
}

div.contactform form input#submit {
	width: 150px;
}

div.contactform form textarea {
	width: 250px;
	height: 300px;
}

/*
	footer
*/

div#footer { 
	height: 2em;
	width: 100%;
	background-color: #aeaeae;
	color: #fff;
	text-align: right;
	vertical-align: middle;
	display: table-row;
}

div#footer p {
	position:absolute;
	right: 10px;
	font-size: 0.75em;
	text-shadow: 2px 2px 2px #888; 
}

/*
	Mobile Browsers
*/

@media (min-width: 640px) {
	div#header #mobmore {
		display:none;
	}
}

@media (max-width: 640px) {
	div#content p {
		font-size: 1.0em;
	}
	div#footer { 
		display: none;
	}
	div#header a {
		font-size: 1.5em;
		text-decoration: none;
	}
	div#header #mobmore {
		color: #fff;
		text-decoration: none;
	}
	div#header #menu {
		display: none;
	}
	div#content, div#content #map {
		height: 100%;
	}
	div.abouttext, div.tabledownload, div.contactform, div.listeggs {
		width: 90%;
	}
}

/*
	Open Layers
*/

.olControlAttribution {
	position      : absolute;
	font-size     : 10px;
	bottom        : 0 !important;
	right         : 0 !important;
	background    : rgba(0,0,0,0.1);
	font-family   : Arial;
	padding       : 2px 4px;
	border-radius : 5px 0 0 0;
}

div.olControlZoom {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}

div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 32px;
    width: 32px;
    line-height: 28px;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
    background: #c7c7c7; /* fallback for IE - IE6 requires background shorthand*/
    /* background: #130085; */
    background: rgba(174, 174, 174, 1);
    /* background: rgba(0, 60, 136, 0.5);*/
    filter: alpha(opacity=80);
}

a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}

a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}

div.olControlZoom a:hover {
    background: #130085; /* fallback for IE */
    background: rgba(0, 60, 136, 0.7);
    filter: alpha(opacity=100);
}

.olControlLayerSwitcher {
    background: rgba(174, 174, 174, 1);
    position:absolute;
    top:0px;
    right:0px;
    padding:10px;
    border-bottom-left-radius: 10px 5px;
}

/*
	OpenLayers #2
*/
.olPopup {
	border-radius: 10px;
	text-align: center;
	border:2px solid #000 !important;
	box-shadow: 5px 5px 5px rgba(100,100,100,0.8);
}

.olPopup p, .olPopup table {
	margin:0px;
	padding:0px;
	width:100%;
}

.olPopup table .l {
	text-align: right;
	font-weight: bold;
}

.olPopup table .r {
	text-align: left;
}

.olPopupCloseBox {
	background-image: url(../../img/cross.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding-right: 15px;
	padding-top: 5px;
}

.flotgraph {
	width:100%;
	height:300px;
	margin-bottom: 20px;
}

/* hide layerswitcher buttons because it's opened by default */
#OpenLayers_Control_MaximizeDiv, #OpenLayers_Control_MinimizeDiv {
	display:none;
}

/* hide baselayer & description text in layerswitcher, osm is the only choice */
div.baseLbl, div.baseLayersDiv, div.dataLbl {
	display:none;
}

/* layerswitcher layer name text */
.labelSpan.olButton {
	color:white;
}

/*
	jquery timepicker
*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 1em; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

#ui-datepicker-div {
	font-size: 0.8em;
}
